//----------reset-style
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//----------variables - color
$white: #fff;
$black: #000;
$red: #fe0000;
$orange: #ff8d31;
$blue: #3a8eb9;
$greenBalance: #95c11f;
$green: #93bc5a;
$gray: #333;
$grayText: #777;
$lightGray: #b9b8b8;
$borderLineLight: #d8d6d6;
$borderLineDark: #acacac;
$twitter: #3aaaeb;
$facebook: #3c5a9a;
//----------mixin
@mixin transition($time: 0.3s){
  transition: all $time ease-in-out;
}
//----------base-style
body{
  width: 100%;
  min-width: 320px;
  font-family: 'Conv_Roboto-Regular', 'Conv_Roboto-Bold',
   'FontAwesome';
}
//-----------global-class
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.window{
  width: 100%;
  background-color: $white;
}
.section{
  display: flex;
  justify-content: center;
  align-items: center;
  &--light{
    border-bottom: 1px solid $borderLineLight;
  }
  &--dark{
    border-bottom: 1px solid $borderLineDark;
  }
  &--footer{
    background-color: $orange;
  }
}
//----------modify-class
.bold{
  font-family: 'Conv_Roboto-Bold';
  &--red{
    color: $red;
  }
  &--blue{
    color: $blue;
  }
  &--green{
    color: $green;
  }
}
.container{
  width: 940px;
  padding: 10px 8px;
  @media(max-width: 525px){
    padding: 8px 4px 8px 5px;
  }
  &--header{
    padding: 10px 8px 10px 6px;
    @media(max-width: 525px){
      padding: 12px 8px 12px 5px;
    }
  }
  &--deadline{
    padding: 12px 8px 10px;
    @media(max-width: 570px){
      padding: 10px 8px;
    }
  }
}
.fa-question{
  font-size: 11px;
  color: $white;
}
//----------classes-style
.wrap{
  height: 100%;
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
}
//----------class-w-header
.w-header{
  height: 31px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media(max-width: 525px){
    height: 44px;
  }
}
.w-h-icon{
  width: 17px;
  height: 17px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.w-h-address{
  padding-left: 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $lightGray;
  @media(max-width: 525px){
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 13px;
  }
}
.h-a-item{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 12px;
  @media(max-width: 525px){
    margin-right: 0;
  }
  &:last-of-type{
    margin-right: 0;
    &:after{
      content: '';
      position: absolute;
      left: -8px;
      transform: rotate(20deg);
      width: 2px;
      height: 10px;
      background-color: $lightGray;
      @media(max-width: 525px){
        display: none;
      }
    }
  }
}
//----------class-w-balance
.w-b-item{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media(max-width: 525px){
    margin-bottom: 6px;
  }
  &:last-of-type{
    margin-bottom: 0;
  }
}
.b-i-icon{
  width: 14px;
  height: 14px;
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $lightGray;
  overflow: hidden;
  cursor: pointer;
}
.b-i-text{
  font-size: 20px;
  color: $gray;
  @media(max-width: 395px){
    font-size: 18px;
    @media(max-width: 360px){
      font-size: 16px;
      @media(max-width: 325px){
        font-size: 14px;
      }
    }
  }
  &--red{
    color: $red;
  }
  &--blue{
    color: $blue;
  }
  &--green{
    color: $green;
  }
}
//----------class-w-history
.w-h-title{
  font-size: 20px;
  color: $grayText;
}
//----------class-w-content
.w-content{
  overflow-y: scroll;
}
.w-c-info{
  min-height: 33px;
  padding-right: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $borderLineLight;
  &:last-of-type{
    border-bottom: none;
  }
}
.c-i-text{
  display: flex;
  font-size: 16px;
  color: $grayText;
  &--date{
    margin-right: 23px;
  }
  &--price{
    margin-right: 25px;
    @media(max-width: 679px){
      margin-right: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &--description{
    width: 300px;
    @media(max-width: 440px){
      width: 250px;
      @media(max-width: 415px){
        width: 200px;
        @media(max-width: 365px){
          width: 150px;
        }
      }
    }
  }
  &--padLeft{
    padding-left: 6px;
    @media(max-width: 679px){
      padding-left: 0;
    }
  }
  &--balance{
    margin-right: 62px;
    @media(max-width: 740px){
      margin-right: 14px;
      @media(max-width: 679px){
        display: none;
      }
    }
  }
  &--checked{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &--red{
    color: $red;
  }
  &--green{
    color: $green;
  }
}
.c-i-item{
  display: flex;
  &--left{
    @media(max-width: 679px){
      width: 100%;
      margin-right: 26px;
      position: relative;
      @media(max-width: 530px){
        flex-direction: column;
      }
    }
  }
}
//----------class-w-deadline
.w-deadline{
  display: flex;
  justify-content: space-between;
  @media(max-width: 570px){
    padding-left: 30px;
    flex-direction: column;
    position: relative;
  }
}
.d-l-title{
  font-size: 16px;
  color: $gray;
}
.d-l-item{
  display: flex;
  align-items: center;
}
.l-i-text{
  margin-right: 4px;
  font-size: 22px;
  &--green{
    color: $green;
  }
  &--gray{
    color: $gray;
  }
  &--red{
    color: $red;
  }
}
.w-d-left{
  @media(max-width: 570px){
    margin-bottom: 8px;
  }
}
.w-d-right{
  width: 250px;
}
.d-r-text{
  font-size: 12px;
  color: $lightGray;
  text-align: right;
  @media(max-width: 570px){
    text-align: left;
  }
}
.r-t-gray{
  color: $gray;
}
.deadline{
  margin-right: 0;
  @media(max-width: 570px){
    position: absolute;
    top: 12px;
    left: 8px;
  }
}
//----------class-footer
.w-footer{
  display: flex;
  justify-content: space-between;
  @media(max-width: 582px){
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @media(max-width: 400px){
      flex-direction: column;
      align-items: center;
    }
  }
}
.w-f-item{
  @media(max-width: 582px){
    margin-bottom: 28px;
    @media(max-width: 400px){
      width: 232px;
    }
  }
  &--left{
    order: 1;
  }
  &--center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    @media(max-width: 582px){
      order: 3;
    }
  }
  &--right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 3;
    @media(max-width: 582px){
      align-items: flex-start;
      order: 2;
    }
  }
}
.f-i-title{
  margin-bottom: 10px;
  font-size: 14px;
  color: $white;
}
.w-f-link{
  margin-bottom: 10px;
  font-size: 13px;
  color: $white;
  &:last-of-type{
    margin-bottom: 0;
  }
}
.f-i-contact{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &:last-of-type{
    margin-bottom: 0;
  }
}
.i-t-phone{
  width: 5px;
  height: 12px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i-t-mail{
  width: 11px;
  height: 8px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-i-btn{
  width: 230px;
  height: 26px;
  margin-bottom: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: $green;
  font-size: 14px;
  color: $white;
  letter-spacing: 0.1em;
  cursor: pointer;
  @include transition;
  &:hover{
    background-color: darken($green, 5%);
  }
}
.f-i-group{
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-i-social{
  width: 26px;
  height: 26px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 4px;
  &:last-of-type{
    margin-right: 0;
  }
  &--twitter{
    background-color: $twitter;
  }
  &--facebook{
    background-color: $facebook;
  }
}
.facebook{
  width: 26px;
  height: 26px;
}
