@import './../../assets/GlobalStyles/Colors.scss';
@import './../../assets/GlobalStyles/Mixins.scss';
@import './../../index.scss';
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange;
}
.w-footer{
  display: flex;
  justify-content: space-between;
  width: 940px;
  padding: 10px 8px;
  @media(max-width: 630px){
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @media(max-width: 525px){
      padding: 8px 4px 8px 5px;
      @media(max-width: 400px){
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
.w-f-item{
  @media(max-width: 630px){
    margin-bottom: 28px;
    margin-right: 20px;
    @media(max-width: 600px){
      margin-right: 0;
      @media(max-width: 400px){
        width: 232px;
      }
    }
  }
  &--left{
    order: 1;
  }
  &--center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    @media(max-width: 630px){
      order: 3;
    }
  }
  &--right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 3;
    @media(max-width: 630px){
      align-items: flex-start;
      order: 2;
    }
  }
}
.f-i-title{
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: $white;
}
.w-f-link{
  margin-bottom: 10px;
  font-size: 13px;
  color: $white;
  &:last-of-type{
    margin-bottom: 0;
  }
}
.f-i-contact{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &:last-of-type{
    margin-bottom: 0;
  }
}
.i-t-phone{
  width: 5px;
  height: 12px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i-t-mail{
  width: 11px;
  height: 8px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-i-btn{
  width: 230px;
  height: 26px;
  margin-bottom: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: $green;
  font-size: 14px;
  color: $white;
  letter-spacing: 0.1em;
  cursor: pointer;
  @include transition;
  &:hover{
    background-color: darken($green, 5%);
  }
}
.f-i-group{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.f-i-social{
  width: 26px;
  height: 26px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 4px;
  &:last-of-type{
    margin-right: 0;
  }
  &--twitter{
    background-color: $twitter;
  }
  &--facebook{
    background-color: $facebook;
  }
}
.facebook{
  width: 26px;
  height: 26px;
}
.bold{
  font-family: 'Conv_Roboto-Bold';
}
