body{
  font-family: "Roboto-Light", "Roboto-Medium";
}
//********** Wrap.scss *********************************************************
.wrap{
  height: 100%;
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

//********** GlobasStyles.scss *************************************************
$white: #fff;
$black: #000;
$red: #fe0000;
$orange: #ff8d31;
$orangeHover: #eec78d;
$orangeActive: #f29200;
$blue: #3a8eb9;
$greenBalance: #95c11f;
$green: #93bc5a;
$brightGreen: #94c11e;
$gray: #333;
$grayText: #777;
$infoLink: #337ab7;
$lightGray: #b9b8b8;
$borderLineLight: #d8d6d6;
$borderLineDark: #acacac;
$question: #b9b9b9;
$twitter: #3aaaeb;
$facebook: #3c5a9a;
$backgroundDate: #f1f1f1;

//******************************************************************************
.cabinet-datepicker-outher{
  width: 100%;
  min-width: 320px;
  background-color: $white;
//----------empty---------------------------------------------------------------
    .cd-empty{
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $borderLineLight;
    }
    .cd-em-section{
      width: 940px;
      padding: 10px 8px 10px 6px;
      @media(max-width: 525px){
        padding: 12px 8px 12px 5px;
      }
    }
  //----------header--------------------------------------------------------------
  .cd-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $borderLineLight;
  }
  .cd-h-section{
    width: 940px;
    height: 31px;
    padding: 0 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media(max-width: 525px){
      height: 44px;
    }
  }
  .h-sec-icon{
    width: 17px;
    height: 17px;
    margin-right: 10px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
  }
  .h-sec-address{
    padding-left: 4px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $lightGray;
    @media(max-width: 557px){
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: 13px;
    }
  }
  .sec-a-item{
    font-family: 'Roboto-Light';
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 12px;
    @media(max-width: 525px){
      margin-right: 0;
    }
    &:last-of-type{
      margin-right: 0;
      &:after{
        content: '';
        position: absolute;
        left: -8px;
        transform: rotate(20deg);
        width: 2px;
        height: 10px;
        background-color: $lightGray;
        @media(max-width: 557px){
          display: none;
        }
      }
    }
  }
  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bold{
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 700;
  }
  //----------info----------------------------------------------------------------
  .cd-info{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $borderLineLight;
  }
  .cd-in-section{
    width: 940px;
    padding: 10px 8px 10px 5px;
    @media(max-width: 525px){
      padding: 8px 4px 8px 6px;
    }
  }
  .in-sec-item{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .item-link{
    width: 100%;
    max-width: 580px;
    margin-bottom: 0;
    padding-left: 9px;
    justify-content: space-between;
    @media(max-width: 679px){
      position: relative;
      margin-bottom: 25px;
      padding-left: 0;
      max-width: 100%;
      @media(max-width: 400px){
        justify-content: space-around;
      }
    }
  }
  .item-icon{
    width: 17px;
    height: 17px;
    margin-right: 14px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-text{
    margin-bottom: 0;
    font-size: 14px;
    color: $grayText;
  }
  .sec-i-link{
    font-family: 'Roboto-Light';
    font-size: 14px;
    color: $infoLink;
    text-transform: uppercase;
    text-decoration: none;
  }
  .link-desktop{
    @media(max-width: 679px){
      display: none;
    }
  }
  .link-mobail{
    display: none;
    @media(max-width: 679px){
      display: block;
      padding: 7px;
      border-bottom: 1px solid $borderLineLight;
    }
  }
  .in-i-mobail{
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    @media(max-width: 679px){
      width: 213px;
      display: flex;
      flex-direction: column;
      border-radius: 0 0 5px 5px;
      background-color: $white;
      z-index: 11;
     }
  }
  .in-i-btn{
    width: 111px;
    height: 38px;
    border-radius: 5px;
    background-color: $orange;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
    &:hover{
      background-color: $orangeHover;
      color: $infoLink;
    }
    &:active{
      background-color: $orangeActive;
      color: $white;
    }
    @media(max-width: 679px){
      width: 213px;
      padding: 0 7px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }
    @media(max-width: 400px){
      width: 141px;
      padding: 0 7px;
    }
  }

  .in-btn-mob{
    width: 142px;
    height: 36px;
    border-radius: 5px;
    background-color: $brightGreen;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    @media(max-width: 679px){
      height: 38px;
    }
  }
  .btn-mobail{
    display: none;
    @media(max-width: 679px){
      display: block;
    }
  }
  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bold{
    font-family: 'Roboto-Medium';
    font-weight: 700;
  }
  .fa-search{
    margin-right: 5px;
  }
  .fa-caret-down{
    display: none;
    @media(max-width: 679px){
      display: inline-block;
    }
  }
  //----------date----------------------------------------------------------------
  .cd-date{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $borderLineLight;
    background-color: $backgroundDate;
  }
  .cd-date-section{
    width: 940px;
    padding: 0 9px;
    @media(max-width: 525px){
      padding: 8px 4px 8px 5px;
    }
  }
  .date-sec-item{
    padding: 1px 16px 1px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 679px){
      padding: 1px 0;
    }
  }
  .sec-it-wrap{
    width: 100%;
    max-width: 640px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 679px){
      margin-right: 0;
    }
  }
  .it-w-label{
    position: relative;
    margin: 0 5px;
    font-family: 'Roboto-Light';
    cursor: pointer;
  }
  .it-w-date{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  .it-w-input{
    width: 100%;
    max-width: 246px;
    height: 38px;
    border: 1px solid $borderLineLight;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-weight: 700;
    @media(max-width: 850px){
      max-width: 200px;
      @media(max-width: 750px){
        max-width: 170px;
        @media(max-width: 680px){
          max-width: 170px;
        }
      }
    }
  }
  .down{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    @media(max-width: 400px){
      display: none;
    }
  }
  .date-it-btn{
    width: 142px;
    height: 36px;
    border-radius: 5px;
    background-color: $brightGreen;
    font-family: 'Roboto-Light';
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    @media(max-width: 679px){
      height: 38px;
    }
  }
  .btn-desktop{
    @media(max-width: 679px){
      display: none;
    }
  }
  .it-w-text{
    font-family: 'Roboto-Light';
    color: $grayText;
  }
  .text-desktop{
    @media(max-width: 530px){
      display: none;
    }
  }
  .text-mobile{
    display: none;
    @media(max-width: 530px){
      display: block;
    }
  }
  .fa-search{
    margin-right: 5px;
  }
  //----------content-------------------------------------------------------------
  .cd-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $borderLineLight;

  }
  .cd-con-section{
    width: 940px;
    padding: 0;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    @media(max-width: 679px){
      padding-top: 20px;
      @media(max-width: 525px){
        padding: 8px 4px 8px 5px;
        @media(max-width: 373px){
          padding-left: 40px;
        }
      }
    }
  }
  .con-item{
    position: relative;
    width: 100%;
    max-width: 111px;
    margin: 35px 5px 35px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
    @media(max-width: 940px){
      margin: 35px 5px 35px 55px;
      @media(max-width: 720px){
        margin: 35px 5px 35px 45px;
        @media(max-width: 679px){
          max-width: 80px;
          margin: 20px 5px 20px 20px;
          @media(max-width: 350px){
            max-width: 80px;
            margin: 20px 5px 20px 15px;
          }
        }
      }
    }
    &:hover{
      .c-it-overlay{
        display: flex;
        @media(max-width: 679px){
          display: none;
        }
      }
    }
  }
  .con-it-text{
    font-family: 'Roboto-Light';
    font-size: 11px;
    margin-bottom: 4px;
    &:last-of-type{
      margin-bottom: 0;
    }
    @media(max-width: 679px){
      margin-bottom: 0;
    }
  }
  .con-it-text > span{
    @media(max-width: 679px){
      display: none;
    }
  }
  .c-it-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 144px;
    height: 188px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .ov-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .con-it-img{
    width: 100%;
    height: 144px;
    margin-bottom: 4px;
    border-radius: 5px;
    @media(max-width: 679px){
      height: 106px;
      margin-bottom: 0;
    }
  }
  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img-desktop{
    @media(max-width: 679px){
      display: none;
    }
  }
  .img-mobile{
    display: none;
    @media(max-width: 679px){
      display: block;
    }
  }
  .it-text-desktop{
    @media(max-width: 679px){
      display: none;
    }
  }
  .ov-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background-color: rgba(225, 225, 225, 0.8);
  }
  .ov-text{
    font-family: 'Roboto-Light';
    font-size: 18px;
    text-transform: uppercase;
    color: $grayText;
    letter-spacing: 0.05em;
  }
  .ov-text-margin{
    margin-bottom: 20px;
  }
  .ov-text-green{
    font-size: 16px;
    color: $green;
  }
  .ov-search{
    margin-right: none;
    margin-bottom: 10px;
    color: $grayText;
  }
  .ov-text-small{
    font-size: 14px;
  }
  .bold{
    font-family: 'Roboto-Medium';
    font-weight: 700;
  }
  .fa-search{
    margin-right: 5px;
  }
  //----------deadline------------------------------------------------------------
  .cd-deadline{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cd-d-section{
    display: flex;
    justify-content: space-between;
    width: 940px;
    padding: 12px 8px 10px;
    @media(max-width: 590px){
      padding-left: 30px;
      flex-direction: column;
      position: relative;
    }
  }
  .bold{
    font-family: 'Roboto-Medium';
    font-weight: 700;
    &--red{
      color: $red;
    }
    &--blue{
      color: $blue;
    }
    &--green{
      color: $green;
    }
  }
  .d-l-title{
    margin: 0;
    font-family: 'Roboto-Light';
    font-size: 16px;
    color: $gray;
  }
  .d-l-item{
    display: flex;
    align-items: center;
  }
  .l-i-text{
    margin-right: 4px;
    font-family: 'Roboto-Light';
    font-size: 22px;
    &--green{
      color: $green;
    }
    &--gray{
      color: $gray;
    }
    &--red{
      color: $red;
    }
  }
  .d-i-icon{
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $question;
    cursor: pointer;
  }
  .d-sec-left{
    @media(max-width: 590px){
      margin-bottom: 8px;
    }
  }
  .d-sec-right{
    width: 250px;
  }
  .d-r-text{
    margin: 0;
    font-family: 'Roboto-Light';
    font-size: 12px;
    color: $lightGray;
    text-align: right;
    @media(max-width: 590px){
      text-align: left;
    }
  }
  .r-t-gray{
    color: $gray;
  }
  .d-i-deadline{
    margin-right: 0;

    @media(max-width: 590px){
      position: absolute;
      top: 12px;
      left: 8px;
    }
  }
  .fa-question{
    font-size: 11px;
    color: $white;
  }
  //----------footer--------------------------------------------------------------
  .cd-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $orange;
  }
  .cd-f-section{
    display: flex;
    justify-content: space-between;
    width: 940px;
    padding: 10px 8px;
    @media(max-width: 630px){
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      @media(max-width: 525px){
        padding: 8px 4px 8px 5px;
        @media(max-width: 400px){
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  .cd-f-item{
    @media(max-width: 630px){
      margin-bottom: 28px;
      margin-right: 20px;
      @media(max-width: 600px){
        margin-right: 0;
        @media(max-width: 400px){
          width: 232px;
        }
      }
    }
    &--left{
      order: 1;
    }
    &--center{
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 2;
      @media(max-width: 630px){
        order: 3;
      }
    }
    &--right{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      order: 3;
      @media(max-width: 630px){
        align-items: flex-start;
        order: 2;
      }
    }
  }
  .f-i-title{
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: $white;
  }
  .cd-f-link{
    margin-bottom: 10px;
    font-family: 'Roboto-Light';
    font-size: 13px;
    color: $white;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  .f-i-contact{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  .i-t-phone{
    width: 5px;
    height: 12px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .i-t-mail{
    width: 11px;
    height: 8px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .f-i-btn{
    width: 230px;
    height: 26px;
    margin-bottom: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: $green;
    font-size: 14px;
    color: $white;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
      background-color: darken($green, 5%);
    }
  }
  .f-i-group{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .f-i-social{
    width: 26px;
    height: 26px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 4px;
    &:last-of-type{
      margin-right: 0;
    }
    &--twitter{
      background-color: $twitter;
    }
    &--facebook{
      background-color: $facebook;
    }
  }
  .facebook{
    width: 26px;
    height: 26px;
  }
  .bold{
    font-family: 'Roboto-Medium';
    font-weight: 700;
  }
}
