@import './../../assets/GlobalStyles/Colors.scss';
@import './../../assets/GlobalStyles/Mixins.scss';
@import './../../index.scss';
.info{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $borderLineLight;
}
.w-info{
  width: 940px;
  padding: 10px 8px 10px 9px;
  @media(max-width: 525px){
    padding: 8px 4px 8px 5px;
  }
}
.w-in-item{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item-link{
  width: 100%;
  max-width: 580px;
  margin-bottom: 0;
  padding-left: 9px;
  justify-content: space-between;
  @media(max-width: 679px){
    position: relative;
    margin-bottom: 25px;
    padding-left: 0;
    max-width: 100%;
    @media(max-width: 400px){
      justify-content: space-around;
    }
  }
}
.in-i-icon{
  width: 17px;
  height: 17px;
  margin-right: 14px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.in-i-text{
  font-size: 14px;
  color: $grayText;
}
.in-i-link{
  font-size: 14px;
  color: $infoLink;
  text-transform: uppercase;
  text-decoration: none;
}
.link-desktop{
  @media(max-width: 679px){
    display: none;
  }
}
.link-mobail{
  display: none;
  @media(max-width: 679px){
    display: block;
    padding: 7px;
    border-bottom: 1px solid $borderLineLight;
  }
}
.in-i-mobail{
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  @media(max-width: 679px){
    width: 213px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    background-color: $white;
    z-index: 11;
   }
}
.in-i-btn{
  width: 111px;
  height: 38px;
  border-radius: 5px;
  background-color: $orange;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
  @include transition;
  &:hover{
    background-color: $orangeHover;
    color: $infoLink;
  }
  &:active{
    background-color: $orangeActive;
    color: $white;
  }
  @media(max-width: 679px){
    width: 213px;
    padding: 0 7px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  @media(max-width: 400px){
    width: 141px;
    padding: 0 7px;
  }
}

.in-btn-mob{
  width: 142px;
  height: 36px;
  border-radius: 5px;
  background-color: $brightGreen;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  @include transition;
  @media(max-width: 679px){
    height: 38px;
  }
}
.btn-mobail{
  display: none;
  @media(max-width: 679px){
    display: block;
  }
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bold{
  font-family: 'Conv_Roboto-Bold';
}
.fa-search{
  margin-right: 5px;
}
.fa-caret-down{
  display: none;
  @media(max-width: 679px){
    display: inline-block;
  }
}
