$white: #fff;
$black: #000;
$red: #fe0000;
$orange: #ff8d31;
$orangeHover: #eec78d;
$orangeActive: #f29200;
$blue: #3a8eb9;
$greenBalance: #95c11f;
$green: #93bc5a;
$brightGreen: #94c11e;
$gray: #333;
$grayText: #777;
$infoLink: #337ab7;
$lightGray: #b9b8b8;
$borderLineLight: #d8d6d6;
$borderLineDark: #acacac;
$question: #b9b9b9;
$twitter: #3aaaeb;
$facebook: #3c5a9a;
$backgroundDate: #f1f1f1;
