*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:active,
*:hover,
*:focus {
  outline: 0;
  outline-offset: 0; }

body {
  width: 100%;
  min-width: 320px;
  font-family: 'Conv_Roboto-Regular', 'Conv_Roboto-Bold', 'FontAwesome'; }

.img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.window {
  width: 100%;
  background-color: #fff; }

.section {
  display: flex;
  justify-content: center;
  align-items: center; }
  .section--light {
    border-bottom: 1px solid #d8d6d6; }
  .section--dark {
    border-bottom: 1px solid #acacac; }
  .section--footer {
    background-color: #ff8d31; }

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

.bold {
  font-family: 'Conv_Roboto-Bold'; }
  .bold--red {
    color: #fe0000; }
  .bold--blue {
    color: #3a8eb9; }
  .bold--green {
    color: #93bc5a; }

.box {
  width: 940px;
  padding: 10px 8px; }
  @media (max-width: 525px) {
    .box {
      padding: 8px 4px 8px 5px; } }
  .box--header {
    padding: 10px 8px 10px 6px; }
    @media (max-width: 525px) {
      .box--header {
        padding: 12px 8px 12px 5px; } }
  .box--info {
    padding: 10px 8px 10px 9px; }
  .box--date {
    padding: 0 9px; }
  .box--content {
    padding: 0; }
  .box--deadline {
    padding: 12px 8px 10px; }
    @media (max-width: 570px) {
      .box--deadline {
        padding: 10px 8px; } }

.fa-question {
  font-size: 11px;
  color: #fff; }

.fa-search {
  margin-right: 5px; }

.fa-caret-down {
  display: none; }
  @media (max-width: 679px) {
    .fa-caret-down {
      display: inline-block; } }

.wrap {
  height: 100%;
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000; }

.w-header {
  height: 31px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  @media (max-width: 525px) {
    .w-header {
      height: 44px; } }

.w-h-icon {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden; }

.w-h-address {
  padding-left: 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #b9b8b8; }
  @media (max-width: 555px) {
    .w-h-address {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: 13px; } }

.h-a-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 12px; }
  @media (max-width: 525px) {
    .h-a-item {
      margin-right: 0; } }
  .h-a-item:last-of-type {
    margin-right: 0; }
    .h-a-item:last-of-type:after {
      content: '';
      position: absolute;
      left: -8px;
      transform: rotate(20deg);
      width: 2px;
      height: 10px;
      background-color: #b9b8b8; }
      @media (max-width: 555px) {
        .h-a-item:last-of-type:after {
          display: none; } }

.w-in-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.item-link {
  width: 100%;
  max-width: 580px;
  margin-bottom: 0;
  padding-left: 9px;
  justify-content: space-between; }
  @media (max-width: 679px) {
    .item-link {
      position: relative;
      margin-bottom: 25px;
      padding-left: 0;
      max-width: 100%; } }
  @media (max-width: 679px) and (max-width: 400px) {
    .item-link {
      justify-content: space-around; } }

.in-i-icon {
  width: 17px;
  height: 17px;
  margin-right: 14px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.in-i-text {
  font-size: 14px;
  color: #777; }

.in-i-link {
  font-size: 14px;
  color: #337ab7;
  text-transform: uppercase;
  text-decoration: none; }

@media (max-width: 679px) {
  .link-desktop {
    display: none; } }

.link-mobail {
  display: none; }
  @media (max-width: 679px) {
    .link-mobail {
      display: block;
      padding: 7px;
      border-bottom: 1px solid #d8d6d6; } }

.in-i-mobail {
  display: none;
  position: absolute;
  top: 35px;
  left: 9px; }
  @media (max-width: 679px) {
    .in-i-mobail {
      width: 213px;
      display: flex;
      flex-direction: column;
      border-radius: 0 0 5px 5px;
      background-color: #fff; } }

.in-i-btn {
  width: 111px;
  height: 38px;
  border-radius: 5px;
  background-color: #ff8d31;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer; }
  .in-i-btn:hover {
    background-color: #eec78d;
    color: #337ab7; }
  .in-i-btn:active {
    background-color: #f29200;
    color: #fff; }
  @media (max-width: 679px) {
    .in-i-btn {
      width: 213px;
      padding: 0 7px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center; } }
  @media (max-width: 400px) {
    .in-i-btn {
      width: 141px;
      padding: 0 7px; } }

.btn-mobail {
  display: none; }
  @media (max-width: 679px) {
    .btn-mobail {
      display: block; } }

.w-date {
  background-color: #f1f1f1; }

.w-d-item {
  padding: 1px 16px 1px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 679px) {
    .w-d-item {
      padding: 1px 0; } }

.d-it-wrap {
  width: 100%;
  max-width: 640px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 679px) {
    .d-it-wrap {
      margin-right: 0; } }

.it-w-label {
  position: relative;
  margin: 0 5px; }

.date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14px; }

.it-w-input {
  width: 100%;
  max-width: 246px;
  height: 16px;
  border: 1px solid #d8d6d6;
  border-radius: 5px;
  outline: none;
  text-align: center;
  font-weight: 700; }
  @media (max-width: 850px) {
    .it-w-input {
      max-width: 200px; } }
  @media (max-width: 850px) and (max-width: 750px) {
    .it-w-input {
      max-width: 170px; } }

  @media (max-width: 850px) and (max-width: 750px) and (max-width: 680px) {
    .it-w-input {
      max-width: 170px; } }

.down {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%); }
  @media (max-width: 400px) {
    .down {
      display: none; } }

.d-i-btn {
  width: 142px;
  height: 36px;
  border-radius: 5px;
  background-color: #94c11e;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase; }
  @media (max-width: 679px) {
    .d-i-btn {
      height: 38px; } }

@media (max-width: 679px) {
  .btn-desktop {
    display: none; } }

.it-w-text {
  color: #777; }

@media (max-width: 530px) {
  .text-desktop {
    display: none; } }

.text-mobile {
  display: none; }
  @media (max-width: 530px) {
    .text-mobile {
      display: block; } }

.w-content {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 679px) {
    .w-content {
      padding-top: 20px; } }

.w-con-item {
  position: relative;
  width: 100%;
  max-width: 111px;
  margin: 35px 5px 35px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 940px) {
    .w-con-item {
      margin: 35px 5px 35px 55px; } }
  @media (max-width: 940px) and (max-width: 720px) {
    .w-con-item {
      margin: 35px 5px 35px 45px; } }

  @media (max-width: 940px) and (max-width: 720px) and (max-width: 679px) {
    .w-con-item {
      max-width: 80px;
      margin: 20px 5px 20px 20px; } }

  @media (max-width: 940px) and (max-width: 720px) and (max-width: 679px) and (max-width: 350px) {
    .w-con-item {
      max-width: 80px;
      margin: 20px 5px 20px 15px; } }

  .w-con-item:hover .c-it-overlay {
    display: flex; }
    @media (max-width: 679px) {
      .w-con-item:hover .c-it-overlay {
        display: none; } }

.con-it-text {
  font-size: 11px;
  margin-bottom: 4px; }
  .con-it-text:last-of-type {
    margin-bottom: 0; }
  @media (max-width: 679px) {
    .con-it-text {
      margin-bottom: 0; } }

@media (max-width: 679px) {
  .con-it-text > span {
    display: none; } }

.c-it-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 144px;
  height: 188px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }

.ov-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.con-it-img {
  width: 100%;
  height: 144px;
  margin-bottom: 4px;
  border-radius: 5px; }
  @media (max-width: 679px) {
    .con-it-img {
      height: 106px;
      margin-bottom: 0; } }

@media (max-width: 679px) {
  .img-desktop {
    display: none; } }

.img-mobile {
  display: none; }
  @media (max-width: 679px) {
    .img-mobile {
      display: block; } }

@media (max-width: 679px) {
  .it-text-desktop {
    display: none; } }

.ov-info {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  background-color: rgba(225, 225, 225, 0.8); }

.ov-text {
  font-size: 18px;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 0.05em; }

.ov-text-margin {
  margin-bottom: 20px; }

.ov-text-green {
  font-size: 16px;
  color: #93bc5a; }

.ov-search {
  margin-right: none;
  margin-bottom: 10px;
  color: #777; }

.ov-text-small {
  font-size: 14px; }

.w-deadline {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 570px) {
    .w-deadline {
      padding-left: 30px;
      flex-direction: column;
      position: relative; } }

.d-l-title {
  font-size: 16px;
  color: #333; }

.d-l-item {
  display: flex;
  align-items: center; }

.l-i-text {
  margin-right: 4px;
  font-size: 22px; }
  .l-i-text--green {
    color: #93bc5a; }
  .l-i-text--gray {
    color: #333; }
  .l-i-text--red {
    color: #fe0000; }

@media (max-width: 570px) {
  .w-d-left {
    margin-bottom: 8px; } }

.w-d-right {
  width: 250px; }

.d-r-text {
  font-size: 12px;
  color: #b9b8b8;
  text-align: right; }
  @media (max-width: 570px) {
    .d-r-text {
      text-align: left; } }

.r-t-gray {
  color: #333; }

.deadline {
  margin-right: 0; }
  @media (max-width: 570px) {
    .deadline {
      position: absolute;
      top: 12px;
      left: 8px; } }

.w-footer {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 582px) {
    .w-footer {
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center; } }
  @media (max-width: 582px) and (max-width: 400px) {
    .w-footer {
      flex-direction: column;
      align-items: center; } }

@media (max-width: 582px) {
  .w-f-item {
    margin-bottom: 28px; } }
  @media (max-width: 582px) and (max-width: 400px) {
    .w-f-item {
      width: 232px; } }

.w-f-item--left {
  order: 1; }
.w-f-item--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 2; }
  @media (max-width: 582px) {
    .w-f-item--center {
      order: 3; } }
.w-f-item--right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  order: 3; }
  @media (max-width: 582px) {
    .w-f-item--right {
      align-items: flex-start;
      order: 2; } }

.f-i-title {
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff; }

.w-f-link {
  margin-bottom: 10px;
  font-size: 13px;
  color: #fff; }
  .w-f-link:last-of-type {
    margin-bottom: 0; }

.f-i-contact {
  display: flex;
  align-items: center;
  margin-bottom: 10px; }
  .f-i-contact:last-of-type {
    margin-bottom: 0; }

.i-t-phone {
  width: 5px;
  height: 12px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.i-t-mail {
  width: 11px;
  height: 8px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center; }

.f-i-btn {
  width: 230px;
  height: 26px;
  margin-bottom: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #93bc5a;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  .f-i-btn:hover {
    background-color: #87b449; }

.f-i-group {
  display: flex;
  justify-content: center;
  align-items: center; }

.f-i-social {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 4px; }
  .f-i-social:last-of-type {
    margin-right: 0; }
  .f-i-social--twitter {
    background-color: #3aaaeb; }
  .f-i-social--facebook {
    background-color: #3c5a9a; }

.facebook {
  width: 26px;
  height: 26px; }

/*# sourceMappingURL=style.css.map */
